.app__home {
  display: flex;
  width: 100%;
  /* height: auto; */
  /* height: inherit; */
  padding: 0;
  overflow-y: hidden;
  font-family: DejaVu Sans Mono, monospace;
  overflow-wrap: break-word;
}
